@custom-media --media-extra-xs (max-width: 300px);
@custom-media --media-xs (max-width: 576px);
@custom-media --media-sm (min-width: 577px) and (max-width: 768px);
@custom-media --media-md (min-width: 769px) and (max-width: 992px);
@custom-media --media-lg (min-width: 993px) and (max-width: 1200px);
@custom-media --media-xl (min-width: 1200px);

@custom-media --media-max-xs (max-width: 576px);
@custom-media --media-max-sm (max-width: 768px);
@custom-media --media-max-md (max-width: 992px);
@custom-media --media-max-lg (max-width: 1200px);
@custom-media --media-max-xl (max-width: 1400px);

@custom-media --media-min-xs (min-width: 577px);
@custom-media --media-min-md (min-width: 769px);

@custom-media --media-md-down (max-width: 768px);
@custom-media --media-lg-down (max-width: 993px);

@custom-media --xs (max-width: 767px);
@custom-media --md (min-width: 768px) and (max-width: 1279px);
@custom-media --lg (min-width: 1280px);

@custom-media --down-lg (max-width: 1279px);
@custom-media --up-xs (min-width: 768px);

:root {
  --color-primary: #165efe;
  --color-error: #ff4646;
  --color-menu-background: #f8f9fa;
  --color-secondary-text: #8995ad;
  --color-border: #c4cad6;
  --color-text: #011136;
  --color-example: #bbd0fe;
  --color-white: #ffffff;
  --color-gray: #f8f9fa;
  --color-gray-dark: #dbdee7;
  --color-gray-82: #828282;
  --color-black: #011136;

  --layout-border: 1px solid #dbdee7;
  --mainLogo-width: 448px;
  --sider-width: 88px;
  --header-height: 110px;
  --container-width: 1104px;

  --transition: 0.3s ease;
}

@media (--md) {
  :root {
    --container-width: 600px;
    --mainLogo-width: 270px;
    --header-height: 106px;
    --sider-width: 61px;
  }
}

@media (--xs) {
  :root {
    --container-width: 100%;
    --mainLogo-width: 100px;
    --header-height: 56px;
    --sider-width: 0;
  }
}

.hideOnMobile {
  @media (--xs) {
    display: none !important;
  }
}

.showOnMobile {
  @media (--up-xs) {
    display: none !important;
  }
}

.openMenuDrawer {
  overflow: hidden;
}

.slim-scrollbar {
  &::-webkit-scrollbar {
    width: 3px;
  }
  &::-webkit-scrollbar-track {
    background: var(--color-menu-background);
  }
  &::-webkit-scrollbar-thumb {
    background: lightgray;
    border-radius: 3px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

a {
  color: #011136;
  text-decoration: none;
  background-color: transparent;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  font-size: 14px;
  line-height: 1.5em;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
}

figure {
  margin: 0;
  line-height: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-style: inherit;
}

