.heading-header {
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  color: #011136;
}

.banner-heading {
  font-weight: 600;
  font-size: 44px;
  line-height: 120%;
  color: #011136;

  @media (--media-lg-down) {
    font-size: 32px;
    line-height: 43px;
  }
  @media (--media-xs) {
    font-size: 28px;
    line-height: 36px;
  }
}